
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

header {
    background-color: #6200ea;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1 {
    font-size: 2rem;
}

main {
    margin-top: 20px;
}


.messages {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 200px;
    overflow-y: auto;
}

.out-message {
    background-color: #d1c4e9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: right;
}

.in-message {
    background-color: #e3f2fd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: left;
}


input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 20px;
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #3700b3;
}
